<plist version="1.0">
<dict>
    <!-- app name -->
    <key>CFBundleDisplayName</key>
    <string>shift</string>

    <!-- nfc permission -->
    <key>NFCReaderUsageDescription</key>
    <string>Shift uses NFC to toggle focus mode with authorized tags.</string>

    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <true/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>
</dict>
</plist>
